@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

*
{
 margin: 0;
 padding: 0; 
 box-sizing: content-box;
 font-family:'Open Sans', sans-serif;


}

html{
  font-size: 62.5%;
}
.container
{
  position: relative;
  z-index: 99;
  
}

.navbar-brand
{
font-weight: bolder;
color: blueviolet;
font-size: 2.4rem;
height: 17rem;
padding-top: 3rem;
}
.span1
{
  font-size: 4rem;
  color: red;
}
.nav-item
{
  padding-right: 2rem;
}
.nav-item {
  font-size:1.6rem;
  font-weight: bolder;
  padding-top: 2rem;
 
}
.nav-item a:hover{
  color: red !important;
}

.btn-outline-success
{
font-size: 1.6rem;
border-radius: 1.2rem;
font-weight: bolder;
margin-right: 10px;

}

/*header*/
.section1
{
  background-color:#F0F8FF;
}

img
{
  width: 60rem;
  height: 40rem;
margin-right: 4rem;
margin-top: 5rem;
  
}
.Heading
{
  font-weight: bolder;
  margin-left: 10rem;
  padding-left: 2rem;
  margin-top: 5rem;
  width: 50%;

  
}
.check
{
width: 1rem;
margin-bottom: -4.5rem;
margin-left: 4rem;
font-size: 1.8rem;
}
p
{
  width: 50%;
  height: 40%;
  font-size: 1.4rem;
 
  margin-top: 2rem;
}
pre{
  font-size: 1.4rem;
  margin-left: 3rem;
}

.btn-primary
{
  margin-left: 10rem;
  width: 9.0rem;
  height: 3rem;
  

}
.btn
{
  font-size: 1.5rem;
  border-radius: 2.3rem;
 margin-bottom: 10rem;
 margin-top: 2rem;
}

.header-img
{
  height: 50rem;
  
}
.Button
{
  display: flex
}
.header
{
  display: flex;
}
.para1
{
  margin-left: 8rem;
  height: 2rem;
  
 

}
.para
{
  height: 12rem;
  padding: 10px 15px 0px 10px;
  margin-bottom: 1px;
  margin-left: 8rem;
}
.footer-container
{
  display: flex;
  background-color: #E6E6FA;
}
.footer4
{
  margin-top: 10rem;
  margin-left: 10rem;
  margin-right: 10rem;
  text-align: center;
}
.footer-heading
{
  
  font-weight: bolder;

}
.footer-para
{
  width: 15rem;
}
.footer1,.footer2,.footer3
{
  text-align: center;
  margin-top: 10rem;
margin-left: 10rem;
width: 20rem;
}
li{
  font-size: 1.4rem;
}
.footer-heading2
{
  font-weight: bolder;
}

.footer-info
{
  width: 16rem;
  height: 2rem;
  margin-top: 4px;
}

.header-input
{
width: 20rem;
height: 2.4rem;
}
.btn-header
{
  width: 12rem;
  height: 3rem;
  margin-top: 5px;
  font-size: 1.2rem;
  background-color: indigo;
  color: white;
  font-weight: bolder;
}


/*service*/
.service-item
{
  width: 30rem;
  height: 20rem;
  display: inline-block;
  margin: 60px 20px 20px 20px;
  border-radius: 1.2rem;
  background-color:#E6E6FA
  
}
.service-item:first-child{
  background-color: #FFF0F5;
}
.service-item:last-child{
  background-color:#F5FFFA
}
.service-container
{
  margin-top: 8rem;
  margin-bottom: 8rem;
  margin-left: 10rem;
}
.servce-heading
{
  text-align:center;
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 8rem;
}

.service-heading
{
padding-top: 20px;
padding-left: 2rem;
}
.service-subhead
{
padding-top: 8px;
padding-left: 2rem;
font-weight: bolder;
}
.circle
{
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: 50%;
  background-color: plum;
}
.service-wrapper
{
  display: flex;
}
.heading{
  text-align: center;
  font-weight: bolder;
  padding-top: 5rem;
  font-size: 3rem;
}
.section2
{
  background-color:#F0FFF0
}
.info-heading
{
  margin-top: 2rem;
  margin-left: 3rem;
  font-size: 2.8rem;
  font-weight: bolder;
}
.info-text
{
  width: 60%;
  margin-left: 3rem;
  padding-bottom: 0rem;
}
.service-img
{
  margin-top: 1rem;
  margin-right: 1rem;
}
.arrowright
{
font-size: 2rem;

}

.info-text1
{
 margin-left: 30rem;
 font-size: 1.4rem;
 width: 60%;
}
.course
{
width: 25rem;
height: 15rem;
  display:inline-block;
  margin: 1rem;
  padding: 10px;
  margin-left: 4rem;
  border-radius: 1.8rem;
  text-align: center;
  margin-top: 10rem;
 
background-color: #FFFAFA


}
.btn1
{
margin-left: 35%;
margin-top: 2rem;
padding-bottom: 20px;
}
.case-title{
  font-weight: bolder;
}
/*Cases*/
.case-container1
{
  width: 90%;
}
.case-heading
{
  text-align: left !important;
  margin: 50px 10px 20px 30px !important;
  font-weight: bolder;
  font-size: 3rem;
}
.case-text
{
 margin-left: 5px!important;
}
.case-container2
{
  display: block;

  width: 80%;
margin-left: 3rem;


}
.api:first-child
{
  margin-left: 13rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.api:last-child
{
  margin-left: 13rem;
  margin-top: 3rem;
}
.api
{
  padding-top: 4rem;
  padding-left: 3rem;
  background-color: #fff0f5;
 border-radius: 1.7rem;
  height: 15rem;
  width: 30rem
  
  
  
  
  
 
}
.title
{
padding-top: 3rem;
}
.case-title
{
  width: 29rem;
  text-align: center;
  font-weight: bolder;
}
.case-text
{
  width: 28rem;
}
.case-img
{
  margin-top: 1rem;
  width: 50rem;
}
.case-wrapper
{
  display: flex;
  flex-direction: row;
 
}
.case-text1
{
  width: 50rem;
  height: 10rem;
  margin-left: 2px;
}
.cases
{
  display: flex;
margin-left: 10px;
margin-top: 7rem;

padding-left: 10px;
justify-content: center;

}
.cases-info
{
  margin: 10px;
  margin-right: 7rem;
padding: 10px;

}
.case-head3
{
text-align: center;
font-weight: bolder;
}
.case-head2
{
color: rgb(135, 146, 250);
text-align: center;
font-weight: bolder;
}
.case-head1
{
  color: red;
text-align: center;
font-weight: bolder;
}
/*BLOG*/
.blogtxt
{
  text-align: center;
  margin-left: 30rem;
}
.blog-section
{
  background-color:#e6e6fa
}
.blogsheading
{
  padding-top: 3rem;
  margin-top: 4rem;
  margin-left: 30rem;
  font-size: 4rem;
width: 50%;
text-align: center;
font-weight: bolder;
}
.blog-container
{
  display: flex;
  padding-top: 7rem;
  padding-left: 20rem;
  margin-right: 10REM;
  justify-content: center;
  height: 30rem;
  margin-bottom: 10rem;
  padding-bottom: 30rem;
 height: 30rem;
 
}
.blogs
{
margin-right: 10rem;

text-align: center;
background-color: white;
border-radius: 1.2rem;
height: 40rem;
}
.Quoteright
{
height: 15rem;
font-size: 4rem;
margin-top: -70rem;
margin-right: -20rem;

}


.blogimage{
  width: 20rem;
  height: 15rem;
  border-radius: 80%;
  margin-top: 1px;
  padding-top: 1px;
  padding-bottom: 2rem;
  justify-content: center;
}

.blogtxt1
{
  width: 30rem;
  
}
.bloghead
{
  font-weight: bolder;
}
.blog-container3
{
  display: flex;
}
.section2blog-heading
{
  margin-top: 5rem;
  margin-left: 6rem;
  color: blueviolet;
}
.blogpara
{
width: 60%;
}
.section2blog-mainheading
{
  width: 50rem;
  font-size: 3rem;
}
.blogimg
{
  height: 20rem;
}
.blogtxt2
{
width: 40rem;
margin-left: 5rem;
}
#buttonnn
{
  font-size: 1.5rem !important;
  width: 10rem;
  margin-bottom: 9rem;
  margin-left: 10rem;
}
/*Page*/
.page-container-wrapper
{
  display: flex;
  background-color:#FFF0E6
}

.page-main-heading
{
  margin-top: 5rem;
  font-size: 4rem;
  width: 50rem;
  margin-left: 5rem;
  font-weight: bolder;
}
.case-text1
{
  margin-left: 5rem;
  margin-top: 5rem;
}
.form-Heading
{
  margin-top: 5rem;
  margin-bottom: 4rem;
}
.form1
{
  margin-left: 30rem;
  background-color: white;
  border-radius: 1.4rem;
  padding: 6px 20px 20px 20px;
  margin-bottom: 10rem;
  margin-top: 5rem;
  padding-bottom: 4rem;
}
.form-field
{
  
  font-size: 1.8rem;
  font-weight: bolder;
}
.form-input
{
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 30rem;
  height: 3rem;
  font-size: 1.7rem;
  font-weight: bold;
}
#longbtn
{
  width: 30rem;
  margin-left: 1rem;
}
.form-signup
{
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: -6rem;
}
span{
  color: red;
}
.page-img-container
{
  display: flex;
  margin: 20px 20px 20px 20px;
  height: 50rem;
  padding-top: 4rem;
}
.img-title
{
  padding-top: 3rem;
}
.Page-blog
{
  margin-top: 5rem;
  font-size: 4rem;
  width: 70rem;
  margin-left: 30rem;
  font-weight: bolder;
}
.page-para
{
  margin-left: 28rem;
  width: 90rem;
  margin-bottom: 5rem;
}
.map-page
{
  margin-right: 20px;
  text-align: center;
  height: 40rem;
  
  
}
.Date
{
  width: 100%;
 color: light gray;
 height: 5rem;
}
.page-job
{
  font-weight: bolder;
  padding-top: 2rem;
}
.Pageimg 
{
height: 25rem;
width: 25rem;
margin-top: 1rem;
border-radius: 1.5rem;
}

/*****************************Media Queries*********************************************/
@media only screen and (max-width: 1110px)
{
  .page-para{
    width: 60rem;
  }
  .blog-container3
  {
    display: block;
  }
  .page-container-wrapper
  {
    display: block;
    padding-bottom: 10rem;
  }
  .form1
  {
    margin-left: 8rem;
    margin-right: 50rem;
  }
}
@media only screen and (max-width: 990px)
{
  .navbar-brand
  {
    margin-top: 8rem;
  }
  .header-img
  {
    width: 35rem;
  }




}
@media only screen and (max-width: 945px)
{
 
  .footer4 , .footer3,.footer2,.footer1
  {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .form-input
  {
    width: 20rem;
  }
#longbtn
{
  width: 10rem;
}
}
@media only screen and (max-width: 761px)
{
  .para1{
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 716px)
{

  .para1,.para{
    font-size: 1.4rem;
  }
  .blog-container{
    display: block;
    margin-top: -4rem;
  
  }
  .blog-section
  {
    padding-bottom: 4rem;
  }
 .blogs{
   width: 40rem;
   height: 30rem;
   margin-bottom: 3rem;
 }
 .blogtxt1{
   margin-left: 3rem;
 }
 .blogsheading,.blogtxt
 {
   margin-left: 18rem;
 }
 

}
@media only screen and (max-width: 620px)
{
li,.footer-heading,.footer-para,.footer-heading2,.footer-info,.footer-text
  {
    font-size: 1rem;
  
  }
  .header-input{
    width: 10rem;
  }
  .para1{
    margin-right: 3rem;
  }

}
@media only screen and (max-width: 1050px)
{
  .case-wrapper
  {
    display: block;
  }
}
@media only screen and (max-width: 835px)
{
  .service-img
  {
    height: 30rem;
    width: 30rem;
  }
  .info-text1
  {
margin-left: 4rem;
  }
  .page-container2
  {
    width: 100rem;
  }
}

@media only screen and (max-width: 550px)
{
  .service-img
  {
    height: 40rem;
    width: 25rem;
  }
}
@media only screen and (max-width: 520px)
{
  .api:first-child
  {
    margin-left: 2rem;
  }
  .api:last-child
  {
    margin-left: 2rem;
  }
  .page-container2
  {
   width: 90rem;
  }
  .case-text1
  {
width: 30rem;
padding-bottom: 3rem;
  }

}
@media only screen and (max-width: 1000px)
{
  .page-para,.Page-blog
  {
    margin-left: 25rem;
    width: 40rem;
  }
  .page-img-container
  {
    display: block;
  }
}